<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="../../vendors/mdi/css/materialdesignicons.min.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body class="sidebar-icon-only">
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/user/v1/nasdaq/main"><img src="/images/logo_nasdaq.png" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="/user/v1/nasdaq/main"><img src="/images/logo_mini_nasdaq.png" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-start">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>

        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item" style="margin: 0.5em;">
                <a class="nav-link" href="#">
                {{userName}}님 환영합니다!
                </a>
            </li>
            <li class="nav-item" style="margin: 0.5em;">
                <a class="nav-link" href="/v1/nasdaq/logout">
                로그아웃
                </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-flex" style="margin: 0.5em;">
                <a class="nav-link" href="#">
                <i class="icon-ellipsis"></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>

    <div class="container-fluid page-body-wrapper">
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <h1>메뉴바 추후에 필요시 채워넣을 예정</h1>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">UI Elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="/pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="/pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/documentation/documentation.html">
              <i class="mdi mdi-calendar menu-icon"></i>
              <span class="menu-title">Calendar</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/documentation/documentation.html">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Market Indicator</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="main-panel">
        <div class="content-wrapper">
          <!-- <div class="row justify-content-center">
            <div class="col-md-8 grid-margin">
              <a href="/user/v1/nasdaq/main"><img src="/images/banner.png" style="width: 100%; height: 200px;"></a>
            </div>
          </div> -->

          <div class="row">
            <div class="col-md-8 grid-margin stretch-card">
              <div class="card transparent">
                <p class="font-weight-large">오늘의 관심 종목 검색</p>
                <div class="search-body transparent stretch-card">
                  <div class="inputs-main input-group">
                    <input type="text" name="ticker" class="form-control" id="ticker-search" placeholder="MSFT, AAPL, NVDA 등 관심 종목의 코드를 입력하세요!">
                    <div class="input-group-append">
                      <button class="btn" type="button" id="search-btn">검색</button>
                    </div>
                    <script>
                      document.getElementById('ticker-search').addEventListener('input', function() {
                          const query = this.value;
                          const resultsContainer = document.getElementById('search-results');
                          if (query.length > 0) { // 최소 1글자 이상 입력 시 요청
                              fetch(`/api/v1/nasdaq/search?ticker=${query}`)
                                  .then(response => response.json())
                                  .then(data => {
                                      resultsContainer.innerHTML = '';
                                      data.tickers.forEach(ticker => {
                                          const div = document.createElement('div');
                                          div.classList.add('search-item');
                                          div.textContent = ticker;
                                          div.addEventListener('click', () => {
                                              window.location.href = `/user/v1/nasdaq/details?ticker=${ticker}`;
                                          });
                                          resultsContainer.appendChild(div);
                                      });
                                      resultsContainer.style.display = 'block';
                                  })
                                  .catch(error => console.error('Error fetching tickers:', error));
                          } else {
                              document.getElementById('search-results').innerHTML = '';
                              resultsContainer.style.display = 'none';
                          }
                      });
                  </script>
                  <script>
                    document.getElementById('search-btn').addEventListener('click', function() {
                      var ticker = document.getElementById('ticker-search').value;
                      if(ticker) {
                        var url = '/user/v1/nasdaq/details?ticker=' + encodeURIComponent(ticker);
                        window.location.href = url;
                      } else {
                        alert('관심 종목의 코드를 입력하세요!');
                      }
                    });
                  </script>
                  </div>
                  <div id="search-results"></div>
                </div>
                
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card china">
                <div class="card-body">
                  <p class="font-weight-large">관심 종목</p>
                  <div class="card">
                    <div class="card-body">
                      {{#watchlists}}
                      <a href="/user/v1/nasdaq/details?ticker={{ticker}}"><p class="font-size-24" style="color:black">{{ticker}}/{{name}}</p></a>
                      {{/watchlists}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <script src="https://code.highcharts.com/modules/networkgraph.js"></script>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card transparent">
                <p class="font-weight-large">오늘의 나스닥 산업군 추천</p>
                <div id="compareIndustry" style="width: 100%; height: 400px;"></div>
              </div>
            </div>
            <div id="networkModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                  <div id="Network" style="width: 100%; height: 100%; display: none;"></div>
              </div>
            </div>
            <script src="/js/compareIndustry.js"></script>
            <script src="/js/modal.js"></script>

            <div class="col-md-6 grid-margin stretch-card">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card china">
                  <div class="card-body">
                    <p class="font-weight-large mb-2">산업군별 Best 종목</p>
                    <p class="font-weight-medium">클릭 시 종목 상세로 넘어갑니다</p>
                    
                    <div class="card mb-4">
                      <div class="card-body">
                        <p class="font-weight-medium" style="color:black">{{industry1}}</p>
                        <a href="/user/v1/nasdaq/details?ticker={{ticker1}}"><p class="font-size-24 mb-0 mt-2" style="color:black">{{ticker1}}  / {{name1}}</p></a>
                      </div>
                    </div>
                    <div class="card mb-4">
                      <div class="card-body">
                        <p class="font-weight-medium" style="color:black">{{industry2}}</p>
                        <a href="/user/v1/nasdaq/details?ticker={{ticker2}}"><p class="font-size-24 mb-0 mt-2" style="color:black">{{ticker2}}  / {{name2}}</p></a>
                      </div>
                    </div>
                    <div class="card mb-4">
                      <div class="card-body">
                        <p class="font-weight-medium" style="color:black">{{industry3}}</p>
                        <a href="/user/v1/nasdaq/details?ticker={{ticker3}}"><p class="font-size-24 mb-0 mt-2" style="color:black">{{ticker3}}  / {{name3}}</p></a>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card china">
                  <div class="card-body">
                    <p class="font-weight-large mb-2">Hottest🔥</p>
                    <p class="font-weight-medium">클릭 시 종목 상세로 넘어갑니다</p>
                    
                    <div class="card mb-4">
                      <div class="card-body">
                        <a href="/user/v1/nasdaq/details?ticker={{hotTicker1}}"><p class="font-size-24 mb-0 mt-2" style="color:black">{{hotTicker1}}  / {{hotName1}}</p></a>
                        <p class="font-weight-medium mt-2" style="color:red">+{{hotFluc1}}%</p>
                      </div>
                    </div>
                    <div class="card mb-4">
                      <div class="card-body">
                        <a href="/user/v1/nasdaq/details?ticker={{hotTicker2}}"><p class="font-size-24 mb-0 mt-2" style="color:black">{{hotTicker2}}  / {{hotName2}}</p></a>
                        <p class="font-weight-medium mt-2" style="color:red">+{{hotFluc2}}%</p>
                      </div>
                    </div>
                    <div class="card mb-4">
                      <div class="card-body">
                        <a href="/user/v1/nasdaq/details?ticker={{hotTicker3}}"><p class="font-size-24 mb-0 mt-2" style="color:black">{{hotTicker3}}  / {{hotName3}}</p></a>
                        <p class="font-weight-medium mt-2" style="color:red">+{{hotFluc3}}%</p>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
  <!-- plugins:js -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>
